<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    *{
        background: cadetblue;
    }
    h1{
        color: blue;
    }
</style>
<body>
    <a href="/views/about.handlebars">about</a>
    <a href="/views/contact.handlebars">contact</a>
    <a href="/">home</a>
    <h1>nomber:01640863290</h1>
</body>
</html>